# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AuthManager.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Visual Studio Projects\source\repos\AuthManager\.idea\.idea.AuthManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
